* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(#333, #111);
}
.section.active {
    background-image: radial-gradient(#555, #111);
}

.wire {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 32.5%;
    background-color: #000;
}

.socket {
    position: absolute;
    top: calc(50% - 140px);
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 120px;
    background-color: #444;
    border-top: 40px solid #000;
    border-radius: 15px 15px 10px 10px;
}
.section.active .socket {
    background-color: #fff;
}

.lamp {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 140px;
    height: 140px;
    background-color: #444;
    border-radius: 50%;
    box-shadow: none;
}
.section.active .lamp {
    background-color: #fff;
    box-shadow: 0 0 50px #fff,
    0 0 100px #fff,
    0 0 150px #fff,
    0 0 200px #fff,
    0 0 250px #fff,
    0 0 300px #fff,
    0 0 350px #fff;
}
.lamp::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 16px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #444;
    rotate: 342deg;
}
.lamp::after {
    content: "";
    position: absolute;
    top: -16px;
    right: 16px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px #444;
    rotate: 17deg;
} 
.section.active .lamp::before {
    box-shadow: 20px 20px 0 10px #fff;
}
.section.active .lamp::after  {
    box-shadow: -20px 20px 0 10px #fff;
}

.button-box {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.button-box button {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 40px;
    outline: none;
    border: 2px solid #000;
    background-image: linear-gradient(#777, #fff, #777);
    border-radius: 6px;
    cursor: pointer;
    z-index: 1;
}
.button-box button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-image: linear-gradient(#fff, #fff);
    border-radius: 4px;
    z-index: -1;
}
.section.active .button-box button::before {
    top: 15%;
}